<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<base href="/">
		<title>Rekognition App</title>
		      <!--Import materialize.css-->
		      <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.min.css" media="screen,projection" />
		      <link href="/stylesheets/font-awesome.min.css" rel="stylesheet" />
                <!--Import custom css-->
		      <link rel='stylesheet' href='/stylesheets/style.css' />
                <!--Import jquery dependencies-->
		      <script src="/javascripts/jquery.min.js"></script>
		      <script src="/javascripts/jquery.validate.min.js"></script>
                <!--Import angularjs dependencies-->
		      <script src="/javascripts/angular.min.js"></script>
		      <script src="/javascripts/angular-ui-router.min.js"></script>
		      <script src="/javascripts/angular-validate.min.js"></script>
                <!--Import materialize js dependencies-->
		      <script type="text/javascript" src="/javascripts/materialize.min.js"></script>
		      <script type="text/javascript" src="/javascripts/angular-materialize.min.js"></script>
        <!--Import angularApp constrollers-->
		<script src="/javascripts/controllers/angularApp.js"></script>
	</head>
	<body>
		<div ng-app="RekognitionApp">
			<% include partials/home %>
		</div>
			
	</body>
</html>
